
<div class="topnav">
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div>





    <ion-list>
  <ion-item></ion-item>
  <ion-item>
    <pre>
<ion-label>2020 : International Cybersecurity Institute | </ion-label></pre> 
&nbsp;<a > Certified Network Security Specialist </a>
  </ion-item>
<ion-item>
    <pre>
<ion-label>2019 : UNISA | </ion-label></pre> 
&nbsp;<a > Diploma in IT [ NQF 6 ]</a>
    </ion-item>
  
<ion-item text-wrap>
  <pre>
<ion-label>2012 : PC Training & Business College |</ion-label></pre> 
&nbsp;<a> National Diploma in IT [ NQF 5 ]</a>
  </ion-item>
   <ion-item text-wrap>
<pre>
<ion-label>2009 : PC Training & Business College |</ion-label></pre> 
&nbsp;<a > IT:Technical Support [ NQF 4 ]</a>
</ion-item>
  <ion-item text-wrap>
<pre>
<ion-label>2007 : Manoe High School |</ion-label></pre> 
&nbsp;<a > Grade 12</a>
</ion-item>
</ion-list>
  