<ion-list>
<div class="topnav">
  <a href routerLink="/">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div>
<h2>Education</h2>
<ion-card-content>
&nbsp;&nbsp;&nbsp;<img src="https://stackblitz.com/files/ionic-5-angular-10-profile/github/tonykobe8/ionic-5-angular-10-profile/master/IMG.jpg"  width="200" height="150">
<ion-item  text-wrap>
   <pre>
<ion-label><a>2020 </a>: International Cybersecurity Institute | </ion-label></pre> 
&nbsp;<a > Certified Network Security Specialist </a>
  </ion-item>
<ion-item>
    <pre>
<ion-label><a>2019 </a>: UNISA | </ion-label></pre> 
&nbsp;<a > Diploma in IT [ NQF 6 ]</a>
    </ion-item>
  <ion-item text-wrap>
  <pre>
<ion-label><a>2012 </a>: PC Training & Business College |</ion-label></pre> 
&nbsp;<a> National Diploma in IT [ NQF 5 ]</a>
  </ion-item>
   <ion-item text-wrap>
<pre>
<ion-label><a>2009 </a>: PC Training & Business College |</ion-label></pre> 
&nbsp;<a > IT:Technical Support [ NQF 4 ]</a>
</ion-item>
  <ion-item text-wrap>
<pre>
<ion-label><a>2007 </a>: Manoe High School |</ion-label></pre> 
&nbsp;<a > Grade 12</a>
</ion-item>
</ion-card-content>
</ion-list>
  