<div class="topnav">
<a href routerLink="/">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div>
<h2>About</h2>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Matome Tony Kobe </h1>
<p>I am a recent graduate from UNISA , seeking for internship in every field in Information Technology .
  I am  highly organised and self driven individual , passionate about developing my career in the field of technology.</p>