h2{
  font-size: 18px;
  color: brown;
  font-family: 'Times New Roman', Times, serif;
}
.topnav {
  overflow: hidden;
  background-color: rgba(26, 126, 126, 0.863)
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.topnav a:hover {
  background-color: #ddd;
  color: blue;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}p{
  background-color: rgb(114, 155, 141);
   border-color:rgba(255, 255, 255, 0.932);
 border-style: solid;
 
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color:white
}
h1{
 color:brown;
 font-family:'Times New Roman', Times, serif;
 font-style: bold;
 background-color: rgb(153, 156, 155);
 font-size: 35px;
}
ion-card {
width: 100;
}
ion-card-content {
padding: 0 !important;
padding-top: 1.5rem !important;
padding-bottom: 1.5rem !important;
      }
    li{
      font-family: 'Times New Roman', Times, serif;
      color:blue;
    }
    h3{ color:brown;
      font-family: 'Times New Roman', Times, serif;
    }