<div class="topnav">
<a href routerLink="/">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div>
<h2>About Me</h2>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MATOME TONY KOBE </h1>
<div class ="ion-text-center"> 
<p><ion-card>I am a recent graduate from UNISA , seeking for internship in every field in Information Technology .<br>
  I am  highly organised and self driven individual , passionate about developing my career in the field of technology.</ion-card>