<div class="topnav">
<a href routerLink="/">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div>
<h2>Experience</h2>
<ion-card-content>
<p>2020 - Current | System Developer </p>

<h1>Programming Languages :</h1>
<li>Angular</li>
<li>Ionic</li>
<li>HTML</li>
<li>CSS</li>
<h3>Reference</h3>
<footer>Nokwanda Maranjane | Code Tribe Academy Facilitator</footer>
<footer> <ion-icon name="call" color='dark'></ion-icon>+2783 553 1652</footer>
<footer><ion-icon name="mail-open-outline" color='default'></ion-icon> nokwanda@mlab.co.za</footer>


</ion-card-content>