
<div class="topnav">
<a href routerLink="/">Home</a>
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a>
</div><h2>Contact</h2> 
&nbsp;&nbsp;<ion-icon name="globe" color='primary'></ion-icon><ion-label>2546 Winnie Mandela <br>
&nbsp;&nbsp;Tembisa<br>&nbsp;&nbsp;1632</ion-label>
<ion-item ></ion-item>
<ion-item text-wrap><ion-icon name="call" color='success'></ion-icon>
<ion-label>084 525 9828 | 065 814 2656</ion-label>
</ion-item>
<ion-item text-wrap> <ion-icon name="mail-open-outline" color='default'></ion-icon>  
<ion-label>tonykobe8@gmail.com</ion-label>
</ion-item><br><div class ="ion-text-center"> 
<p>
 <ion-icon name="logo-twitter" color="secondary"></ion-icon><ion-label>@tonykobe8</ion-label>
 &nbsp; &nbsp; &nbsp;
<ion-icon name="logo-facebook"  color="primary"></ion-icon><ion-label>/tony.kobe.7</ion-label>
 &nbsp; &nbsp; &nbsp;
<ion-icon name="logo-linkedin" color='primary' ></ion-icon><ion-label>linkedin.com/in/matome-kobe-1376b8169</ion-label>

</p>

 