<div class="topnav">
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a></div><body>
<h2>Home</h2>

  <div class="ion-text-nowrap">
    <ion-list> <div class ="ion-text-left"> 
   <ion-icon name="call-outline" color='dark'></ion-icon><ion-label> &nbsp;084 525 9828 / 065 814 2656 </ion-label> <a>|&nbsp;tonykobe8@gmail.com</a>
</div> 
<ion-avatar>
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<img src="https://stackblitz.com/files/ionic-5-angular-10-profile/github/tonykobe8/ionic-5-angular-10-profile/master/src/WP_20140322_005-1.jpg" width='400px' height='400px' class='center'>
</ion-avatar> 
&nbsp;<a>MATOME TONY KOBE </a>
</ion-list>

</div><div class ="ion-text-center"> 
<p>I create web-sites and applications<p> 