<div class="topnav">
<a href routerLink="/about">About</a>
<a href routerLink="/contact">Contact</a>
<a href routerLink="/education">Education</a>
<a href routerLink="/experience">Experience</a>
<a href routerLink="/reference">Reference</a></div>
<h2>Home</h2>
<ion-grid><ion-row><ion-col>
  <div class="ion-text-nowrap">
<ion-card><ion-card-content>
    <p><ion-list>
  <ion-icon name="call-outline" color='dark'> </ion-icon><div class ="center"> <ion-avatar>
 
 <img src="https://stackblitz.com/files/ionic-5-angular-10-profile/github/tonykobe8/ionic-5-angular-10-profile/master/src/WP_20140322_005-1.jpg" width='400px' height='400px'>
</ion-avatar></div>
 <ion-item>
    <pre>
<ion-label > Full Names :</ion-label></pre> 
&nbsp;<a>Matome Tony Kobe </a>
  </ion-item><ion-item>
  <ion-icon name="call-outline" color='dark'></ion-icon> &nbsp;&nbsp;084 525 9828 | 065 814 2656
  </ion-item>
  <ion-item><ion-icon name="mail-open-outline" color='default'></ion-icon>&nbsp;&nbsp;tonykobe8@gmail.com </ion-item>
</ion-list></p>
  </ion-card-content></ion-card></div></ion-col></ion-row></ion-grid>